/*
Author:Viekses Horn
Date:11/15/23
File Name: apply08.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}
/*style for the table*/
table {
	width: 80%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #71881b;
}
/*Style for the rows inside the table*/
tr, th, td {
	border-collapse: collapse;
	padding: 2%;
}
/* style for the caption */
caption {
	font-size: 2em;
	padding: 2%;
	margin-top: 2%;
}
/*style for row border*/
th, td {
	border: 1px solid #7188bb;
}
/*Style for text*/
td{
	text-align: center;
}
/*background color for row*/
tr:nth-child(odd) {
	background-color: #d3e788;
}